variables:
  UV_PYTHON_DOWNLOADS: never

stages:
  - lint
  - test

.default:
  services:
    - image:pe-base
  before_script:
    - printf "machine gitlab.adacore-it.com\n	login gitlab-ci-token\n	password ${CI_JOB_TOKEN}\n" > ~/.netrc
    - pip install uv -i https://gitlab.adacore-it.com/api/v4/projects/eng%2Fai%2Fada-eval/packages/pypi/simple
    - uv venv  --python 3.12
    - uv sync
    - git config --global user.email "ci@adacore.com"
    - git config --global user.name "CI"

.lint:
  extends: .default
  stage: lint
  needs: []
  artifacts:
    reports:
      codequality: $CI_PROJECT_DIR/code-quality-report.json

ruff:
  extends: .lint
  script:
    - uv run ruff check --output-format=gitlab > code-quality-report.json

mypy:
  extends: .lint
  script:
    - uv run mypy --no-error-summary > mypy-out.txt || true # "|| true" is used for preventing job failure when mypy find errors
    - uv run mypy-gitlab-code-quality < mypy-out.txt > code-quality-report.json

pytest:
  extends: .default
  stage: test
  needs: []
  script:
    # Install tools for eval tests
    - anod init wave /it/wave
    - |
      for x in gnat gnatformat; do
        eval "$(cd "/it/wave"; anod install $x; anod printenv $x)"
      done
    - download_generic_package eng/ai/ada-eval /it/gnatprove.tar.gz x86_64-linux-15.1.0
    - tar -xzf /it/gnatprove.tar.gz -C /it/
    - chmod +x /it/gnatprove-x86_64-linux-15.1.0-1/bin/gnatprove
    - export PATH="$PATH:/it/gnatprove-x86_64-linux-15.1.0-1/bin/"
    # Run tests
    - uv run pytest --junitxml=report.xml --cov-report xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
