stages:
  - lint
  - test

.default:
  services:
    - image:e3
  cache: &global_cache
    key: cache-$CI_COMMIT_REF_SLUG
    fallback_keys:
      - cache-default
    paths:
      - .venv/
    policy: pull
  before_script:
    - printf "machine gitlab.adacore-it.com\n	login gitlab-ci-token\n	password ${CI_JOB_TOKEN}\n" > ~/.netrc
    - pip install poetry -i https://gitlab.adacore-it.com/api/v4/projects/eng%2Fai%2Frag/packages/pypi/simple
    - poetry config virtualenvs.in-project true
    - poetry install

flake8:
  stage: lint
  image: python:3.9
  script:
    - poetry run flake8 .

isort:
  stage: lint
  image: python:3.9
  script:
    - poetry run isort --check-only .

black:
  stage: lint
  image: python:3.9
  script:
    - poetry run black --check .

pytest:
  stage: test
  image: python:3.9
  script:
    - poetry run pytest --junitxml=report.xml --cov --cov-report term-missing --cov-report xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: report.xml
    coverage_report:
        coverage_format: cobertura
        path: coverage.xml
