variables:
  UV_PYTHON_DOWNLOADS: never
  UV_EXTRA_INDEX_URL: https://gitlab-ci-token:$CI_JOB_TOKEN@gitlab.adacore-it.com/api/v4/projects/eng%2Fai%2Fada-eval/packages/pypi/simple

stages:
  - lint
  - test

.default:
  services:
    - image:pe-base
  before_script:
    - printf "machine gitlab.adacore-it.com\n	login gitlab-ci-token\n	password ${CI_JOB_TOKEN}\n" > ~/.netrc
    - pip install uv -i https://gitlab.adacore-it.com/api/v4/projects/eng%2Fai%2Fada-eval/packages/pypi/simple
    - uv venv  --python 3.11
    - uv sync

.lint:
  extends: .default
  stage: lint
  needs: []
  artifacts:
    reports:
      codequality: $CI_PROJECT_DIR/code-quality-report.json

ruff:
  extends: .lint
  script:
    - uvx ruff check --output-format=gitlab > code-quality-report.json

mypy:
  extends: .lint
  script:
    - uv run mypy --no-error-summary . > mypy-out.txt || true  # "|| true" is used for preventing job failure when mypy find errors
    - uv run mypy-gitlab-code-quality < mypy-out.txt > code-quality-report.json

pytest:
  extends: .default
  stage: test
  needs: []
  script:
    - uv run pytest --junitxml=report.xml --cov --cov-report term-missing --cov-report xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
